
{% extends 'base.html' %}

{% block content %}

<h1>Products</h1>

<a href="{% url 'products:product_add' %}">Add Product</a>

{% for products in products %}
<div class="row">
        <div class="col-4"><a href="{% url 'products:detail' products.id %}">{{ products.name}}</a>
            <small>{{ products.date_posted|date:'F d, Y' }}</small>
        </div>
        
        <div class="col-4">{{ products.price}}
        <div class="col-4">
            <img src="{{ products.product_image.url }}" alt="">
            <p>{{ products.bio}}</p>
        </div>

        </div>
        
</div>
{% endfor%}



{% endblock %}

